.App {
  font-family: sans-serif;
  text-align: center;
}
.font-weight {
  font-weight: bold;
}
.text-align {
  text-align: center;
}
.color {
  color: red;
}
.font-style {
  font-style: italic;
}
.text-decoration {
  text-decoration: underline;
}
.background-color {
  background-color: red;
}
.line-height {
  line-height: 2;
}
.letter-spacing {
  letter-spacing: 2px;
}
.writing-mode {
  writing-mode: vertical-lr;
}
